@import 'tailwindcss';

@theme{
    --color-header-bg: var(--color-emerald-700);
    --color-header-text: var(--color-white);

    /* link color palette*/
    --color-link-text: var(--color-emerald-700);
    --color-link-hover: var(--color-emerald-500);
    --color-link-active: var(--color-emerald-900);
    --color-link-visited: var(--color-blue-500);
};

*{
    @apply font-serif;
};

main a{
    @apply text-link-text hover:text-link-hover active:text-link-active;
}